@model ParkingHUB.Pagination.PageResult<ParkingHUB.ViewModel.ParkingListViewModel>
<h1 class="centered-title">Vehicle Parking for @ViewBag.Location</h1>
<style>
    .pagination-container {
        display: flex;
        justify-content: center;
    }

    .centered-title {
        text-align: center;
        margin-bottom: 1em;
    }
</style>

@if (Model.Availabel > 0)
{
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addParkingModal">Add Parking</button>

    <div class="modal fade" id="addParkingModal" tabindex="-1" aria-labelledby="addParkingModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addParkingModalLabel">Add Parking</h5>
                </div>
                <div class="modal-body">
                    <form id="addParkingForm" method="post" asp-controller="Parking" asp-action="AddParking">
                        <div class="mb-3">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" class="form-control" id="location" name="Location" asp-for="@Model.Location">
                        </div>
                        <div class="mb-3">
                            <label for="plateNumber" class="form-label">Plate Number</label>
                            <input type="text" class="form-control" id="plateNumber" name="PlateLicense" asp-for="@Model.PlateLicense">
                        </div>
                        <div class="mb-3">
                            <label for="checkIn" class="form-label">Check in</label>
                            <input type="datetime-local" class="form-control" id="checkIn" name="CheckIn" asp-for="@Model.CheckIn">
                        </div>
                        <div class="mb-3">
                            <label for="checkOut" class="form-label">Check out</label>
                            <input type="datetime-local" class="form-control" id="checkOut" name="CheckOut" asp-for="@Model.CheckOut">
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Number parking</th>
            <th>Location</th>
            <th>Plate license</th>
            <th>Check in</th>
            <th>Check out</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Results.Count; i++)
        {
            var item = Model.Results[i];
            <tr>
                <td>@(i + 1)</td>
                <td>@item.Location</td>
                <td>@item.PlateLicense</td>
                <td>@item.CheckIn</td>
                <td>@item.CheckOut</td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation" class="pagination-container">
    <ul class="pagination">
        @if (Model.PreviousPage.HasValue)
        {
            <li class="page-item"><a class="page-link" href="?pageNumber=@Model.PreviousPage">Previous</a></li>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.CurrentPage == i ? "active" : "")"><a class="page-link" href="?pageNumber=@i">@i</a></li>
        }
        @if (Model.NextPage.HasValue)
        {
            <li class="page-item"><a class="page-link" href="?pageNumber=@Model.NextPage">Next</a></li>
        }
    </ul>
</nav>