@using ParkingHUB.DTO
@model ParkingDTO

<form asp-controller="Parking" asp-action="UpdateParking" method="post" enctype="multipart/form-data">
    <input type="hidden" name="parkingId" value="@Model.Id" />
    <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" class="form-control" value="@Model.Location" />
    </div>
    <div class="form-group">
        <label for="totalSlot">Total parking:</label>
        <input type="number" id="totalSlot" name="totalSlot" class="form-control" value="@Model.TotalSlot" />
    </div>
    <div class="form-group">
        <label for="availableSlot">Free parking:</label>
        <input type="number" id="availableSlot" name="availableSlot" class="form-control" value="@Model.AvailableSlot" />
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" class="form-control" value="@Model.Price" />
    </div>
    <div class="form-group mt-3">
        <label for="image">Image:</label>
        <input type="file" class="form-control" id="image" name="image" accept="image/*" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
</form>