@using ParkingHUB.ViewModel
@model ParkingHUB.Pagination.PageResult<ParkingHUB.ViewModel.ParkingListViewModel>
@{
    ViewData["CheckIn"] = Model.CheckIn;
    ViewData["CheckOut"] = Model.CheckOut;
}
<h1 class="centered-title">Vehicle Parking List</h1>
<style>
    .pagination-container {
        display: flex;
        justify-content: center;
    }

    .centered-title {
        text-align: center;
        margin-bottom: 1em;
    }
</style>

<form id="searchForm" method="post" action="/Parking/Search">
    <div class="mb-3 text-center">
        <label for="checkIn" class="form-label">Check in</label>
        <input type="datetime-local" class="form-control d-inline" id="checkIn" name="checkIn" style="width: 200px;" value="@ViewData["CheckIn"]">
    </div>
    <div class="mb-3 text-center">
        <label for="checkOut" class="form-label">Check out</label>
        <input type="datetime-local" class="form-control d-inline" id="checkOut" name="checkOut" style="width: 200px;" value="@ViewData["CheckOut"]">
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary mx-2">Search</button>
        <button id="downloadBtn" class="btn btn-success mx-2">Download Report</button>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Number parking</th>
            <th>Location</th>
            <th>Plate license</th>
            <th>Check in</th>
            <th>Check out</th>
            <th>Parking fee</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Results.Count; i++)
        {
            var item = Model.Results[i];
            <tr>
                <td>@(i + 1)</td>
                <td>@item.Location</td>
                <td>@item.PlateLicense</td>
                <td>@item.CheckIn</td>
                <td>@item.CheckOut</td>
                <td>@item.ParkingFee RON</td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation" class="pagination-container">
    <ul class="pagination">
        @if (Model.PreviousPage.HasValue)
        {
            <li class="page-item"><a class="page-link" href="?pageNumber=@Model.PreviousPage&checkIn=@Model.CheckIn&checkOut=@Model.CheckOut">Previous</a></li>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.CurrentPage == i ? "active" : "")"><a class="page-link" href="?pageNumber=@i&checkIn=@Model.CheckIn&checkOut=@Model.CheckOut">@i</a></li>
        }
        @if (Model.NextPage.HasValue)
        {
            <li class="page-item"><a class="page-link" href="?pageNumber=@Model.NextPage&checkIn=@Model.CheckIn&checkOut=@Model.CheckOut">Next</a></li>
        }
    </ul>
</nav>
<script>
    document.getElementById("downloadBtn").addEventListener("click", function () {
        var checkIn = document.getElementById("checkIn").value;
        var checkOut = document.getElementById("checkOut").value;

        var form = document.getElementById("searchForm");
        form.action = `/Parking/DownloadPdf?checkIn=${checkIn}&checkOut=${checkOut}`;
    });
</script>
